In [111]:
import pandas as pd
import numpy as np

file = "/Users/eefje/python_projects/stijn/data/test eef.xlsx"
excel = pd.read_excel(file, sheet_name="Blad2", dtype=str)
excel = excel.rename(columns={' Wrd/CO-val':'Bedrag'})
# excel.columns = excel.columns.str.replace("/", " ")
# excel.columns = excel.columns.str.replace("-", " ")
excel.dropna(how='all', axis=1, inplace=True)

# Reformat columns
excel['Boekdatum'] = pd.to_datetime(excel['Doc.datum'], format="%d.%m.%Y")
excel['Boekmaand'] = excel['Boekdatum'].dt.to_period('M')
excel['Bedrag'] = excel["Bedrag"].astype(float)

# Filter out ATB
excel = excel[excel['DTyp'] == 'BEST']

# Flag voor VTW
excel['VTW_flag'] = np.where(excel['Pos.'].astype(int)>10, 1, 0)

obligo = excel.groupby(['WBS-element', 'Boekmaand', 'Crediteur', 'Vendor name', 'VTW_flag']).sum().reset_index()
obligo['Obligo']=1

In [153]:
vtw = obligo[obligo['VTW_flag']==1]
vtw = vtw.groupby('Boekmaand').sum().reset_index()[['Boekmaand', 'Bedrag']]
vtw.sort_values(by='Boekmaand', ascending=False, inplace=True)
vtw.reset_index(inplace=True, drop=True)

In [154]:
contingency_now = budget[budget['Id'].isin(['JH-55700008-5710', 'JH-55700008-5720'])]['Budget TG3'].astype(int).sum()

In [156]:
vtw.loc[-1] = ['2022-02', contingency_now]  # adding a row
vtw.index = vtw.index + 1  # shifting index
vtw.sort_index(inplace=True)

In [157]:
vtw['Contingency'] = vtw['Bedrag'].cumsum()

In [158]:
vtw

  Boekmaand     Bedrag  Contingency
0   2022-02  939000.00    939000.00
1   2020-07     876.03    939876.03
2   2020-05       0.00    939876.03
3   2020-04  337911.78   1277787.81
4   2020-02   12940.50   1290728.31
5   2020-01       0.00   1290728.31

In [118]:
obligo_group = obligo.groupby('Boekmaand').sum().reset_index()

In [119]:
obligo_group

  Boekmaand  VTW_flag     Bedrag  Obligo
0   2020-01         1     500.00       3
1   2020-02         2   12940.50       6
2   2020-03         0       0.00       1
3   2020-04         2  392032.78       6
4   2020-05         1       0.00       3
5   2020-06         0       0.00       1
6   2020-07         1     876.03       8
7   2020-08         0       0.00       2
8   2020-10         0   30847.00       3
9   2020-11         0       0.00       1

In [90]:
file = "/Users/eefje/python_projects/stijn/data/test eef.xlsx"
excel = pd.read_excel(file, sheet_name="Blad1", dtype=str)
excel.dropna(how='all', axis=1, inplace=True)

# Reformat columns
excel['Boekdatum'] = pd.to_datetime(excel['Boekdatum'], format="%d.%m.%Y")
excel['Boekmaand'] = excel['Boekdatum'].dt.to_period('M')
excel['Bedrag'] = excel['Bedrag'].astype(float)
excel['PO-nummer'] = excel['Best/']

actuals = excel.groupby(['WBS-element', 'Boekmaand', 'Crediteur', 'Omschrijving']).sum().reset_index()
actuals['Actuals'] =1

In [107]:
actuals_permaand = actuals.groupby('Boekmaand').sum().reset_index()
actuals_permaand.drop(columns=['Actuals'], inplace=True)
actuals_permaand.rename(columns={'Bedrag':'Actuals'}, inplace=True)

In [125]:
file = "/Users/eefje/python_projects/stijn/data/test eef.xlsx"
excel = pd.read_excel(file, sheet_name="Blad3", dtype=str, skiprows = 2)
excel = excel.iloc[7: , :]
excel['WBS-type'] = excel['Id'].str[-2:]
# Drop rows where
excel = excel[excel['WBS-type']!="00"]

In [126]:
excel['WBS-element']= excel['Id']

In [127]:
budget = excel

In [ ]:
vtw =